* {
  margin: 0;
}

$cell: 64px;
$cell_white: #f0d9b5;
$cell_black: #B58863;

$figure_width: calc(#{$cell} * (2 / 3));
$figure_height: calc(#{$cell} * (2 / 3));

$board_width: calc(#{$cell} * 8);
$board_height: calc(#{$cell} * 8);

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  border: 2px solid black;
  width: $board_width;
  height: $board_height;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: $cell;
  height: $cell;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: $figure_width;
    height: $figure_height;
    position: relative;
  }
}

.black {
  background-color: $cell_black;
}

.white {
  background-color: $cell_white;
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}